/* _content/DBcompare/Pages/CompareDump.razor.rz.scp.css */
#Border-Dotted[b-6gzrs21cqg]{border: 2px dotted}
#Border-Solid[b-6gzrs21cqg]{border: 1px solid}
#Border-Solid3px[b-6gzrs21cqg]{border: 3px solid #1a1e21}
#Text1Style[b-6gzrs21cqg]{font-size: 23px;color : #41464b}
#Text2Style[b-6gzrs21cqg]{font-size: 40px;color : #41464b}
#Text3Style[b-6gzrs21cqg]{font-size: 14px;color : #1b6ec2}
#container[b-6gzrs21cqg] {
    height: 500px;
    overflow: auto;
}
#fixedHeader[b-6gzrs21cqg]{
    position: sticky;
    top: 0;
}

.custom-input[b-6gzrs21cqg] {
    width: 100%; /* Set the width of the input to 100% of its container */
    padding: 10px; /* Add some padding for better readability */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add rounded corners */
    font-size: 16px; /* Set the font size */
    background-color: #fff; /* Set the background color */
    color: #333; /* Set the text color */
}

/* Custom CSS for InputSelect */
#custom-input-select[b-6gzrs21cqg] {
    width: 100%; /* Set the width of the dropdown to 100% of its container */
    padding: 8px; /* Add some padding for better readability */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add rounded corners */
    font-size: 16px; /* Set the font size */
    background-color: #fff; /* Set the background color */
    color: #333; /* Set the text color */
}

/* Style for the dropdown arrow */
#custom-input-select[b-6gzrs21cqg]::after {
    content: '\25BC'; /* Unicode for a down arrow ▼ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Style for the dropdown options */
#custom-input-select option[b-6gzrs21cqg] {
    background-color: #fff; /* Set the background color for options */
    color: #333; /* Set the text color for options */
}

/* Style for the selected option */
#custom-input-select option:checked[b-6gzrs21cqg] {
    background-color: #007bff; /* Set a background color for the selected option */
    color: #fff; /* Set the text color for the selected option */
}
/* _content/DBcompare/Shared/MainLayout.razor.rz.scp.css */
.page[b-i68682nme6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i68682nme6] {
    flex: 1;
}

.sidebar[b-i68682nme6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-i68682nme6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-i68682nme6]  a, .top-row .btn-link[b-i68682nme6] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-i68682nme6] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-i68682nme6] {
        display: none;
    }

    .top-row.auth[b-i68682nme6] {
        justify-content: space-between;
    }

    .top-row a[b-i68682nme6], .top-row .btn-link[b-i68682nme6] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i68682nme6] {
        flex-direction: row;
    }

    .sidebar[b-i68682nme6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i68682nme6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-i68682nme6], article[b-i68682nme6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/DBcompare/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-si9m8zl0aa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-si9m8zl0aa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-si9m8zl0aa] {
    font-size: 1.1rem;
}

.oi[b-si9m8zl0aa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-si9m8zl0aa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-si9m8zl0aa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-si9m8zl0aa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-si9m8zl0aa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-si9m8zl0aa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-si9m8zl0aa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-si9m8zl0aa] {
        display: none;
    }

    .collapse[b-si9m8zl0aa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-si9m8zl0aa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
