{
    "SshHost": "",
    "SshUserName": "",
    "MySqlUserName": "",
    "MySqlPassword": "",
    "SshPort": "22",
    "MySqlPort": "3306",

    "DevServer": "server=;Port=;Uid=;Pwd=",
    "QAServer": "server=;Port=;Uid=ysy9514;Pwd=",
    "InspectionServer": "server=;Port=;Uid=ysy9514;Pwd=",
    "LiveServer": "server=;Port=;Uid=ysy9514;Pwd="
}