/* _content/DBcompare/Pages/HC2Compare.razor.rz.scp.css */
#Border-Dotted[b-vcbhpafrxg]{border: 2px dotted}
#Border-Solid[b-vcbhpafrxg]{border: 1px solid}
#Border-Solid3px[b-vcbhpafrxg]{border: 3px solid #1a1e21}
#Text1Style[b-vcbhpafrxg]{font-size: 20px;color : #343a40}
#Text2Style[b-vcbhpafrxg]{font-size: 27px;color : #636464; font-weight: bold;}
#Text3Style[b-vcbhpafrxg]{font-size: 27px;color : #0d6efd; font-weight: bold;}
#TextTitle[b-vcbhpafrxg]{font-size: 50px;color : #191c1f; font-weight: bold; text-decoration: underline;}

.horizontal-container[b-vcbhpafrxg] {
    display: flex;
    align-items: center;
}

#Text3Style[b-vcbhpafrxg], #Text2Style[b-vcbhpafrxg] {
    margin-right: 10px;
}

/* Error Icon */
.mat-icon-error[b-vcbhpafrxg] {
    color: red;
    font-size: 24px;
}

/* Confirmation Icon */
.mat-icon-confirm[b-vcbhpafrxg] {
    color: green;
    font-size: 24px;
}

#loading-screen[b-vcbhpafrxg] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}
#mat-progress-spinner[b-vcbhpafrxg] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* _content/DBcompare/Pages/HCCompare.razor.rz.scp.css */
#Border-Dotted[b-y7h4k0vybx]{border: 2px dotted}
#Border-Solid[b-y7h4k0vybx]{border: 1px solid}
#Border-Solid3px[b-y7h4k0vybx]{border: 3px solid #1a1e21}
#Text1Style[b-y7h4k0vybx]{font-size: 20px;color : #343a40}
#Text2Style[b-y7h4k0vybx]{font-size: 27px;color : #636464; font-weight: bold;}
#Text3Style[b-y7h4k0vybx]{font-size: 27px;color : #0d6efd; font-weight: bold;}
#TextTitle[b-y7h4k0vybx]{font-size: 50px;color : #191c1f; font-weight: bold; text-decoration: underline;}

.horizontal-container[b-y7h4k0vybx] {
    display: flex;
    align-items: center;
}

#Text3Style[b-y7h4k0vybx], #Text2Style[b-y7h4k0vybx] {
    margin-right: 10px;
}

/* Error Icon */
.mat-icon-error[b-y7h4k0vybx] {
    color: red;
    font-size: 24px;
}

/* Confirmation Icon */
.mat-icon-confirm[b-y7h4k0vybx] {
    color: green;
    font-size: 24px;
}

#loading-screen[b-y7h4k0vybx] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}
#mat-progress-spinner[b-y7h4k0vybx] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* _content/DBcompare/Pages/SBLCompare.razor.rz.scp.css */
#Border-Dotted[b-51a8me4xrg]{border: 2px dotted}
#Border-Solid[b-51a8me4xrg]{border: 1px solid}
#Border-Solid3px[b-51a8me4xrg]{border: 3px solid #1a1e21}
#Text1Style[b-51a8me4xrg]{font-size: 20px;color : #343a40}
#Text2Style[b-51a8me4xrg]{font-size: 27px;color : #636464; font-weight: bold;}
#Text3Style[b-51a8me4xrg]{font-size: 27px;color : #0d6efd; font-weight: bold;}
#TextTitle[b-51a8me4xrg]{font-size: 50px;color : #191c1f; font-weight: bold; text-decoration: underline;}

.horizontal-container[b-51a8me4xrg] {
    display: flex;
    align-items: center;
}

#Text3Style[b-51a8me4xrg], #Text2Style[b-51a8me4xrg] {
    margin-right: 10px;
}

/* Error Icon */
.mat-icon-error[b-51a8me4xrg] {
    color: red;
    font-size: 24px;
}

/* Confirmation Icon */
.mat-icon-confirm[b-51a8me4xrg] {
    color: green;
    font-size: 24px;
}

#loading-screen[b-51a8me4xrg] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}
#mat-progress-spinner[b-51a8me4xrg] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* _content/DBcompare/Shared/MainLayout.razor.rz.scp.css */
.page[b-i68682nme6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i68682nme6] {
    flex: 1;
}

.sidebar[b-i68682nme6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-i68682nme6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-i68682nme6]  a, .top-row .btn-link[b-i68682nme6] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-i68682nme6] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-i68682nme6] {
        display: none;
    }

    .top-row.auth[b-i68682nme6] {
        justify-content: space-between;
    }

    .top-row a[b-i68682nme6], .top-row .btn-link[b-i68682nme6] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i68682nme6] {
        flex-direction: row;
    }

    .sidebar[b-i68682nme6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i68682nme6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-i68682nme6], article[b-i68682nme6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/DBcompare/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-si9m8zl0aa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-si9m8zl0aa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-si9m8zl0aa] {
    font-size: 1.1rem;
}

.oi[b-si9m8zl0aa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-si9m8zl0aa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-si9m8zl0aa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-si9m8zl0aa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-si9m8zl0aa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-si9m8zl0aa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-si9m8zl0aa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-si9m8zl0aa] {
        display: none;
    }

    .collapse[b-si9m8zl0aa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-si9m8zl0aa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
